body {
	background-image: url(../media/food.jpg);
	background-size: cover;
	flex: 1;
	justify-content: center;
	align-content: center;
	align-items: center;
	color: white;
}
.center
{
	text-align:center;
}
.image{
	width: 25%;
	height: 25%;
}
.container{
	background-color: #08995c;
	width: 800px;
	height: auto;
	margin-left: 25%;
	margin-top: 5%;
}

a{
	text-decoration: none;
}

@media(max-width:1050px){
	.container{
		margin-top: 50%;
		margin-left: 10%;
	}
}

.inner{
	text-align: left;
	padding: 2%
}